## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Seoul,37.5683,126.9778,45.84,51,27,1.86,KR,2021-10-24 22:09:14
1,1,Kruisfontein,-34.0033,24.7314,49.89,81,0,3.11,ZA,2021-10-24 22:07:08
2,2,Bonthe,7.5264,-12.5050,78.22,86,100,5.30,SL,2021-10-24 22:10:11
3,3,Port Hawkesbury,45.6169,-61.3485,48.58,83,90,8.01,CA,2021-10-24 22:10:11
4,4,Kodiak,57.7900,-152.4072,45.91,76,90,5.75,US,2021-10-24 22:09:20

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Bonthe,7.5264,-12.5050,78.22,86,100,5.30,SL,2021-10-24 22:10:11
5,5,Busselton,-33.6500,115.3333,55.04,82,100,9.91,AU,2021-10-24 22:10:12
6,6,Waingapu,-9.6567,120.2641,78.64,84,79,1.48,ID,2021-10-24 22:05:15
7,7,Saint-Philippe,-21.3585,55.7679,74.48,83,47,16.37,RE,2021-10-24 22:10:13
10,10,Kangaba,11.9333,-8.4167,79.75,65,78,2.84,ML,2021-10-24 22:10:14
11,11,Avarua,-21.2078,-159.7750,77.05,61,40,13.80,CK,2021-10-24 22:10:14
13,13,Victoria,22.2855,114.1577,70.25,73,37,1.99,HK,2021-10-24 22:08:40
14,14,Itaituba,-4.2761,-55.9836,84.65,61,99,2.75,BR,2021-10-24 22:10:15
15,15,Atuona,-9.8000,-139.0333,77.92,73,2,17.36,PF,2021-10-24 22:10:16
19,19,Mogadishu,2.0371,45.3438,79.43,81,45,13.76,SO,2021-10-24 22:10:17

In [29]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       4
Date          0
dtype: int64

In [56]:
# 4b. Drop any empty rows and create a new DataFrame that doesn‚Äôt have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Bonthe,7.5264,-12.5050,78.22,86,100,5.30,SL,2021-10-24 22:10:11
5,5,Busselton,-33.6500,115.3333,55.04,82,100,9.91,AU,2021-10-24 22:10:12
6,6,Waingapu,-9.6567,120.2641,78.64,84,79,1.48,ID,2021-10-24 22:05:15
7,7,Saint-Philippe,-21.3585,55.7679,74.48,83,47,16.37,RE,2021-10-24 22:10:13
10,10,Kangaba,11.9333,-8.4167,79.75,65,78,2.84,ML,2021-10-24 22:10:14
...,...,...,...,...,...,...,...,...,...,...
660,660,Herat,34.5000,62.0000,53.47,22,0,5.75,AF,2021-10-24 22:14:59
662,662,Santarem,-2.4431,-54.7083,80.73,89,20,2.30,BR,2021-10-24 22:15:00
663,663,Simao,22.7886,100.9748,60.24,100,100,1.83,CN,2021-10-24 22:15:01
664,664,Siparia,10.1333,-61.5000,81.07,89,100,11.32,TT,2021-10-24 22:15:02
666,666,Calera,33.1029,-86.7536,70.20,80,1,3.00,US,2021-10-24 22:15:02

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2           Bonthe      SL     78.22   7.5264  -12.5050
5        Busselton      AU     55.04 -33.6500  115.3333
6         Waingapu      ID     78.64  -9.6567  120.2641
7   Saint-Philippe      RE     74.48 -21.3585   55.7679
10         Kangaba      ML     79.75  11.9333   -8.4167
11          Avarua      CK     77.05 -21.2078 -159.7750
13        Victoria      HK     70.25  22.2855  114.1577
14        Itaituba      BR     84.65  -4.2761  -55.9836
15          Atuona      PF     77.92  -9.8000 -139.0333
19       Mogadishu      SO     79.43   2.0371   45.3438

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
    #hotel_df.loc[index, "Hotel Name"] = 
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Bonthe Holiday Village
Observatory Guest House
Pondok Wisata Elim
Chambres d'h√¥te "La Trinit√©"
CAF (case de l¬¥amiti√© et de la fraternit√©)
Paradise Inn
Mini Hotel Central
Hotel Campos
Villa Enata
Hotel Juba
Hotel Xaguate
Keleti Beach Resort
Ellie's Villa
Toyoko Inn Iwaki Ekimae
Premier Inn Margate hotel
People ThankYou
Hampton Inn & Suites Jamestown
Mantra on Collins Hobart
Bora-Bora Pearl Beach Resort & Spa
Finch Bay Galapagos Hotel
Shwe Pyi Thar
Hotel Am√©rica
Tu Casa
Hilo Hawaiian Hotel
The Halyards Hotel
Southern Sun Waterfront Cape Town
Pousada dos Navegantes
Wedgewood Motel
Blue Bay Lodge
Hotel Potos√≠ Los Mirtos
Six Acres Bed & Breakfast
The Esplanade Resort & Spa
39 On Nile Guest House
Holiday Inn Express & Suites North Platte, an IHG Hotel
Calabash Hotel, Migori
Hotel not found... skipping.
Bluff Homestead - Guesthouse & Campervan Park
Royal Exchange Hotel
Shanti Maurice Resort & Spa
Lusaka Hotel
Butterfly Lodge
Sheraton Kauai Coconut Beach Resort
Isles Sunset Lodge
Hy≈çsetsu-s≈ç
Hostal Las Lilas
Shandrani Beachcomber Resort & Spa
Eureka Inn Trademark By Wyndham
OlusHome
Juvinal Martin
Pestana Bahia Praia
H√¥tel Raiatea Lodge
Hotel Mor√≥n
Seagulls Inn Namatani
CHACARA BAILLY
Spanish Villa
Hotel Grand Continental Kuala Terengganu (4 Star)
Katsuura Hotel Mikazuki
Hotel Pigalle
Nusa Island Retreat
Grage Hotel Bengkulu
El Salvial
dyd -mar Hotel
BON Hotel Waterfront Richards Bay
Broadwater Mariner Resort
Nuevo Hotel Plaza
Kaitangata Motor Camp
Gallows Cove
ŸÅŸÜÿØŸÇ ÿ£Ÿàÿ®ÿßÿ±Ÿä
Fengshui Residence
Mayoka Village
The Ritz-Carlton, Half Moon Bay
Hotel Ritz Sumbe
Seattle Marriott Redmond
Ranfurly Holiday Park Motels & Cabins
The Shingles Riverside Cottages
Hotel Boutique Las Azucenas
Quinta da Meia Eira
Hotel not found... skipping.
WonderTree Farm
Cititel Penang
Pousada Porto Praia
Che Lagarto Hostel Santiago
Hotel Posada San Jose
Misty Waves Boutique Hotel
Lindsey H√¥tel
Le Rocher de Tahiti
Bombay lodge
Desert Palms Alice Springs
Courtyard by Marriott Danbury
Azio Hotel
Clarion Inn
Atlantis Hotel
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
Punto de encuentro
Goto Guesthouse Utojuku & SA Car Rental
Protea Hotel by Marriott Knysna Quays
Osprey Beach Hotel
Hotel San Isidro Oficial
Hotel Porto Santo & Spa
Velvettas Resorts
Sa'adat House
Gran Hotel Mar del Plata
Conrad Bora Bora Nui
Hostel Comodoro
Embassy Suites by Hilton Huntsville Hotel & Spa
Sur Plaza Hotel
Royal Family Lodge
Wingate By Wyndham Rome
MINAS POUSADA E HOTEL LTDA
Chenango Valley State Park
Hotel Castelo
Hotel not found... skipping.
Swiss Belhotel Manokwari
G√Æte kajeon
Lamana Hotel (Port Moresby)
Beau Site
Holiday Inn Express Lompoc, an IHG Hotel
ibis Styles Mt Isa Verona
Sing and Swing Lodge
Melrose
Pastori 1 Jemaat Polycarpus
Ahipara Holiday Park
Hotel not found... skipping.
La Case Bambou
H√¥tel Le Dronmi
Balneario Rio el Paraiso
Vahmoneh Lodge Vanimo
COMPLEXE MAKOYA ET FILS
Airbnb rooms
ŸÅŸÜÿØŸÇ ÿ±ÿßÿ≠ÿ© ÿßŸÑÿ≥ŸÑÿßŸÖ
Eng Hiirey House
Ramada Hotel & Suites by Wyndham Ballina Byron
Quinta Samay
SEGAYA PROPERTY
Fuente del Guania Hotel de Lujo
Casa Tia Villa
Sunset Inn
Maitai Lapita Village Huahine
Taloa Heights
Casa Laguna, Bed & Breakfast
Hotel On The Rock by Prasanthi
H√¥tel Le Lagon
Hotel Kununurra
Pousada Monte Carmelo O P√£o
INN NEW HORIZON
Departamento c√©ntrico 2 ambientes 45 mt2 en Z√°rate
Umit
Naifaru Residence Guest House
Hotel Star inn Peniche
kasa de karolll
Hospitality Carnarvon
Hotel Santos
Tharrakamma Guest House
Viran≈üehir √ñƒüretmenevi
PT PPI Lamongan Tambak C
Hotel not found... skipping.
Hotel Branco I
Hotel Memory
Daru Lodge
Artemis Otel
Desert Gardens Hotel - Ayers Rock Resort
Busta House Hotel
Port Lincoln Hotel
BBM Grand Hotel
Peace and Love Beach Club
Hotel Ambulu Jember
Best Western Plus Abbey Inn
Hotel JM Puerto del Rosario
Hotel not found... skipping.
H√¥tel Trois √âtoiles de Biltine
Casa Maquia
Miarina
Hotel San Rafael
Kingsgate Hotel Te Anau
Hampton Inn Elizabeth City
Gran Hotel Azuero
Direct Hotels - Monterey Moranbah
Hotel not found... skipping.
Salinas Park Resort Ma√ßarico AP101
Hotel Syariah CN Darussalam
Historic Bishops Residence Bed & Breakfast
OYO 673 Hotel Cepu Indah 1
Les Jardins de la Mer Ghar el Melh
Hotel not found... skipping.
Hotel not found... skipping.
Collie Ridge
Holiday
Swiss Belhotel Sharjah
Humacao Bed & Breakfast
Hotel N√°utico de Paita
San Francisco de La Selva
O Hotel Toyooka
Posada Villaven C.A.
Abbott's Bed & Breakfast
Hotel not found... skipping.
Ithala Bank (Stanger)
Resorts Resource Group International
Sleep Inn Summerville-Charleston
Rydges Port Macquarie
Hotel Pousada Tropical
Paradise Bay Resort
Buzmein Sokak
Divi Village Golf & Beach Resort
Hotel Kou-Bugny
Tora Coastal Walk
Hotel Chik Chik Namibe
Casa Do Papai
Hotel Central
Samson Hotel
Hotel Charvid
Shelly Bay Resort
Hotel not found... skipping.
Maringe Lagoon Lodge
Hotel Sunrise Choshi
Amiin Hotel
Pazo do Souto
Hotel Nusantara Nabire
Chicho Hotel
Golden Palace Hotel
Big Fish Guest House
H√¥tel & Restaurant DIANA Ambilobe
Ÿáÿ™ŸÑ ÿ¢Ÿæÿßÿ±ÿ™ŸÖÿßŸÜ ÿ¢ÿ≥ÿßŸÖ
Radisson Grenada Beach Resort
Timotel Hotel
la casona de juancho
Holiday Inn Express & Suites Portales, an IHG Hotel
The Esplanade Hotel
Shingu UI Hotel
Expeditions T√©n√©re voyages
Hotel del Sur
Monte Carlo
Gouranga Hindu Hotel
Scoop Guest House
Conquistador Hotel
Xee Wang Guesthouse
TumbleWeed RV Park
ABENIE Hotel
Hotel Mpampa
Jared Coffin House
Shellharbour Resort & Conference Centre
Hotel not found... skipping.
Tarum√£ Tropical Hotel
Ted McQuinn Trust
The Old Smokery
Grand Hotel Cirta
Hotel Villa Kitzia Huacho
The Westin San Jose
Austral Hotel
Minshuku Agaihama
OYO 598 Peony Hotel
Hotel not found... skipping.
Hotel de Ville
Holiday Inn Rosario, an IHG Hotel
Codrington Gardens Bed And Breakfast
ÿØŸÅÿ™ÿ± ŸÜŸÖÿß€åŸÜÿØ⁄Ø€å ÿ¥ÿ±⁄©ÿ™ ÿ®ÿßÿ≤ÿßÿ±€åÿßÿ®ÿßŸÜ ÿß€åÿ±ÿßŸÜ€åÿßŸÜ ÿ≤ŸÖ€åŸÜBIZ
FELIPA LAODENIO PROPERTY
Hotel not found... skipping.
Hotel not found... skipping.
Ron and Tony's Bed & Breakfast
CCI Express Inn
Imbu Bua Lodge
Movich Hotel de Pereira
Hotel "El Parque"
Hotel not found... skipping.
Latitude20 Roebourne Village
Welcomhotel By ITC Hotels, Bay Island, Port Blair
Tateyama Seaside Hotel
Lorengau Harbourside Hotel
Holiday Inn Express & Suites Ashland, an IHG Hotel
Scenic Hotel Southern Cross
COMBUESA
Hotel not found... skipping.
Molika Springs Motel
Valle Aridane
Le Rocher
Hanks place
Hotel Zawadi
Circuit House
Mystic Sands Beachfront Accommodation
Hospedaje El Chino
Inn at Morro Bay
Backpacker`s Hostel Iquique
ALETHEIA Appartement Sinnamary
Red Lion Hotel Coos Bay
HOSPEDAJE XIMENA
Aipana Plaza Hotel
Wayfarer Motel
Hotel Arena Gruesa
Raj Bhawan
Maui Seaside Hotel
Steve Walden and Emma Sison-Walden Residence
Posada Del Fin Del Mundo
Nuli Sapi
Super 8 by Wyndham Fortuna
Mantra Nelson Bay
Hotell Fr√∏ya
Hawthorn Suites By Wyndham Las Vegas/Henderson
International Lodge Motel
Malgudi Square
Royal Crown Hotel
FBC Guest House, Fiditi
Casa Dora, Bubaque
Marriott's Ko Olina Beach Club
New Peninsula Hotel
Trinity Plains Tourist Park
Casa Grand Inn By The Sea
Sapriadi Appy
Moon light Furnished Units
Resort on Papaskiri 76
„Ç™„Éº„Éô„É´„Ç∏„É•„Éª„Ç¢„Ç¨„É´„Ç§
Hotel do Campo
Mercure Padang
Hotel Santa Carmem
OYO 73765 Ocean Breeze Guest House
Hotel Armida
Hotel not found... skipping.
Hotel not found... skipping.
Lamu House
Hotel Route Inn Miyako
Hotel Pousada dos Sonhos
Hotel Advaith Lancer
Pacific Rendezvous Motel Resort
Elimtop
Albury Georgian Motel & Suites
Parkir Mobil Wisata CAS Water Park
Will T Place
Hotel Los Andes
La Tahzan Guest House
Hotel Atl√¢ntico Rio Grande
Casa do Ianüòé
Veranda Paul et Virginie Hotel & Spa
Praia Hotel Imbituba
Alex
Hotel Castrum Villae by Walk Hotels
Arden Country House BnB Dunedin
Yijie Express Hotel
Hotel not found... skipping.
Villa Mar Colina
Embassy Suites by Hilton Portland Downtown
Cattleman's Rest Motor Inn
Hotel Mediteran
Atalanta Hotel
Liset Feriesenter AS
Shimoda Tokyu Hotel
The Lodge at Creel Hotel & SPA
Urban Style by Front One
Hotel y Casino del R√≠o General Roca
Premier Inn Liverpool City Centre (Moorfields) hotel
The Irish Village
Castle Comfort Lodge Dive Dominica
Screensaver
Sulthan Hotel International
Sambor Village Hotel
Motorcycle set cover costumize
HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Hotel FX 72
Upper Ballard Campground
Hotel not found... skipping.
Hotel RIKMAN Continental

Montana Hotel Syariah
Undulata Country Lodge
Villa Las Tronas Hotel & Spa
Highlander Hotel & Apartments
ŸÅŸÜÿØŸÇ ÿ≠ÿ∂ÿ±ŸÖŸàÿ™
Holiday Inn Express Antofagasta, an IHG Hotel
Hotel not found... skipping.
Xiushui Hotel
GreenTree Hotel Rongcheng Bus Station
Bushido Lodge
Hotel La Villa Couacou
Westland Hotel AS
Auberge Madeli
B&B La Casona de Nazaret
Hotel Morotin
Oota Ryokan
Victorian Inn Beatrice
√Årea de Lazer Olho D'√°gua
Pousada Guar√°'s
Hotel not found... skipping.
ŸÅŸÜÿØŸÇ ÿßŸÑŸÅÿ±ÿØŸàÿ≥
DoubleTree by Hilton Hotel Cleveland East Beachwood
Dibbo areaŸÖŸÜÿ∑ŸÇÿ© ÿØÿ®Ÿà
Nordre Silda.
ŸÖŸáŸÖÿßŸÜ ÿ≥ÿ±ÿß€å ÿ¥ÿ±⁄©ÿ™ ⁄Øÿßÿ≤
Hotel Bressan
Hotel Pousada Tropical
Locanda Borgo Antico
The Green Dragon Hotel
Hotel Galvarino
ÿµÿßÿ≠ÿ®ÿ© ÿßŸÑŸÅÿÆÿßŸÖÿ©
Sylvia Hotel
Parra Hotel & Suites
Motel 6 Hammond, IN - Chicago Area
Aryaduta Hotel
Camp Nirvana Yamunotri
Kost Pria
Aboiha Cottage
The Freeport Inn and Marina
Cozumel Palace¬Æ All Inclusive Resort
Fakhamat Al Orjoana Apartment
Takalvan Motel
Erlyn‚Äôs Sta Rosa City Home
ÿπÿ∑ÿ± Ÿà ÿßÿØ⁄©ŸÑŸÜ Ÿæÿßÿ±ÿ≥€åÿ≥
back to back rv park
Estancia Hotel - Jardim MS
Hotel Crown Hills Nakamura
Quinta Belem
Weligama Bay Resort
Hotel not found... skipping.
Le G√Æte d‚ÄôIracoubo
The Commodore
Hotel Olako
Swan Garden Hotel
Agapita M. Nicart
Hotel Kandamba
Lords Inn Somnath
Hotel not found... skipping.
ÿµÿßŸÑŸàŸÜ ÿ≤Ÿäÿ±Ÿà
Turaif
Pyramid Hotel
Hotel not found... skipping.
Hotel not found... skipping.
Beleza Pura B&B
The feet in water
Shasta Dam Motel
Ungoofaaru Inn
Doria Park Hotel
Best Western Executive Inn
janelas do mar
Mercure Hotel Mildura
Hotel Peace Land Ishigakijima
Quality Suites Vila Velha
Pousada Porto De Canoas
Grand Dafam Bela Ternate
Casa Don Gustavo
Quinta das Giestas
Hotel not found... skipping.
Ecotur Lodge
Changyu Hotel
Brook Gardens
Quality Inn Calera I-65 Exit 231

In [54]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotels_df =hotel_df.dropna()
clean_hotels_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bonthe,SL,78.22,7.5264,-12.5050,Bonthe Holiday Village
5,Busselton,AU,55.04,-33.6500,115.3333,Observatory Guest House
6,Waingapu,ID,78.64,-9.6567,120.2641,Pondok Wisata Elim
7,Saint-Philippe,RE,74.48,-21.3585,55.7679,"Chambres d'h√¥te ""La Trinit√©"""
10,Kangaba,ML,79.75,11.9333,-8.4167,CAF (case de l¬¥amiti√© et de la fraternit√©)
...,...,...,...,...,...,...
660,Herat,AF,53.47,34.5000,62.0000,
662,Santarem,BR,80.73,-2.4431,-54.7083,Ecotur Lodge
663,Simao,CN,60.24,22.7886,100.9748,Changyu Hotel
664,Siparia,TT,81.07,10.1333,-61.5000,Brook Gardens
666,Calera,US,70.20,33.1029,-86.7536,Quality Inn Calera I-65 Exit 231

In [57]:
# 8a. Create the output File (CSV)
# Create CSV file of DF
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))